* {
  box-sizing: border-box;
}

body {
  background-color: rgb(186, 238, 186);
  font-style: Arial;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
  text-align: center;
}

.anxiety-list ol {
  font-size: 2em;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 20px;
  
}

.anxiety-list ol li ul {
  font-size: .8em;
}

.summary {
  float: right;
  width: 30%;
  height: auto;
  border: 3px solid green;
  margin-top: 30px;
  margin-right: 200px;
}

.get-help {
  color: rgb(194, 2, 34);
  ;
}