* {
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  text-align: center
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.5em;
  text-align: center;
}

.anxiety-list ol li {
  font-size: 2em;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 20px;
  
}

.summary {
  float: right;
  width: 30%;
  height: auto;
  border: 3px solid green;
  margin-top: 30px;
  margin-right: 200px;
}